@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #ffffff; }
  body .navbar {
    background-color: #F22333 !important;
    font-size: 1rem;
    font-family: Rubik;
    position: sticky;
    top: 0px;
    z-index: 2; }
    body .navbar .logo {
      width: 50px;
      height: 50px; }
      @media (min-width: 768px) {
        body .navbar .logo {
          width: 80px;
          height: 80px; } }
      @media (min-width: 1024px) {
        body .navbar .logo {
          width: 100px;
          height: 100px; } }
    body .navbar .dropdown-menu {
      --bs-dropdown-bg: #f22333 !important;
      border: none !important; }
      body .navbar .dropdown-menu .dropdown-item {
        --bs-dropdown-link-color: #ffffff !important;
        font-size: 0.8rem; }
  body footer {
    background-color: #2E3338;
    font-family: Rokkitt;
    color: #ffffff;
    padding: .5rem;
    font-size: 0.6rem;
    text-align: justify;
    position: sticky;
    bottom: 0px;
    height: auto;
    z-index: 3; }
    body footer a {
      text-decoration: none;
      color: #ffffff; }

body .container-fluid {
  z-index: 2; }
  body .container-fluid .products {
    display: flex;
    justify-content: center; }
    body .container-fluid .products .target {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 20px;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 30px;
      border: 1px solid rgba(255, 255, 255, 0.18); }
    body .container-fluid .products img {
      width: 150px;
      height: 150px;
      transition: all 1s ease; }
      body .container-fluid .products img:hover {
        transform: scale(1.4);
        transition: all 1s ease; }
      @media (min-width: 768px) {
        body .container-fluid .products img {
          width: 200px;
          height: 200px; } }
      @media (min-width: 1024px) {
        body .container-fluid .products img {
          width: 250px;
          height: 250px; } }

body section {
  margin: 30px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  body section .row {
    padding: 20px;
    display: flex;
    align-items: center; }

.products {
  display: flex;
  justify-content: center; }
  .products .target {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18); }
    .products .target a img {
      width: 150px;
      height: 150px; }
      @media (min-width: 768px) {
        .products .target a img {
          width: 200px;
          height: 200px; } }
      @media (min-width: 1024px) {
        .products .target a img {
          width: 250px;
          height: 250px; } }

.container .target {
  padding: 20px;
  margin: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

.row form .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f22333;
  --bs-btn-border-color: #f22333;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f22333;
  --bs-btn-hover-border-color: #f22333;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f22333;
  --bs-btn-active-border-color: #f22333e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #f22333;
  --bs-btn-disabled-border-color: #f22333; }

.row form .form-check-input:checked {
  background-color: #f22333;
  border-color: #f22333; }
