@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px; }

.logo {
  width: 40px;
  height: 40px; }
  @media (min-width: 768px) {
    .logo {
      width: 50px;
      height: 80px; } }
  @media (min-width: 1024px) {
    .logo {
      width: 60px;
      height: 60px; } }

.products img {
  width: 150px;
  height: 150px;
  transition: all 1s ease; }
  .products img:hover {
    transform: scale(1.4);
    transition: all 1s ease; }
  @media (min-width: 768px) {
    .products img {
      width: 200px;
      height: 200px; } }
  @media (min-width: 1024px) {
    .products img {
      width: 250px;
      height: 250px; } }

.products a img {
  width: 150px;
  height: 150px; }
  @media (min-width: 768px) {
    .products a img {
      width: 200px;
      height: 200px; } }
  @media (min-width: 1024px) {
    .products a img {
      width: 250px;
      height: 250px; } }

.target {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

.shadow {
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

.btn, .btn-primary, .btn-secondary {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0px;
  border: none; }

.btn-primary {
  background-color: #f22333;
  color: #ffffff;
  font-family: Rokkitt; }

.btn-secondary {
  background-color: #04724d;
  color: #ffffff;
  font-family: Rubik; }

body {
  background-color: #ebebeb; }
  body .navbar {
    background-color: #F22333;
    font-size: 1rem;
    font-family: Rubik;
    position: sticky;
    top: 0px;
    z-index: 2; }
    body .navbar .container-fluid {
      display: flex;
      justify-content: space-between; }
    body .navbar .dropdown-menu {
      --bs-dropdown-bg: #f22333;
      border: none; }
      body .navbar .dropdown-menu .dropdown-item {
        --bs-dropdown-link-color: #ffffff;
        font-size: 0.8rem; }

body footer {
  background-color: #2E3338;
  font-family: Rokkitt;
  color: #ffffff;
  padding: .5rem;
  font-size: 0.6rem;
  text-align: justify;
  bottom: 0px;
  height: auto; }
  body footer a {
    text-decoration: none;
    color: #ffffff; }

body .container-fluid {
  z-index: 2; }
  body .container-fluid .products {
    display: flex;
    justify-content: center; }

body .target .row {
  padding: 20px;
  display: flex;
  align-items: center; }

.products {
  display: flex;
  justify-content: center; }

body h1 {
  text-align: center; }

body section .row form .form-check-input:checked {
  background-color: #04724d;
  border-color: #04724d; }
