body{
    h1{
        text-align: center;
    }
    section{
        .row{
            form{
                .form-check-input:checked{
                    background-color: #04724d;
                    border-color: #04724d;
                }
            }
        }
        
    }
}


