body{
    footer{
        background-color: map-get($colors, secondary);
        font-family: map-get($font-text, secondary);
        color: map-get($colors, tertiary);
        padding: .5rem;
        font-size: 0.6rem;
        text-align: justify;
        position: sticky;
        bottom: 0px;
        height: auto;
        z-index: 3;
        a{
            text-decoration: none;
            color: map-get($colors, tertiary);
        }
    }
}