body{
    background-color: $tertiary-color;
    .navbar{
        background-color: $primary-color !important;
        font-size: 1rem;
        font-family: $primary-font-text !important;
        position: sticky;
        top: 0px;
        z-index: 2;
        .logo{
            width: 50px;
            height: 50px;
            @media (min-width: 768px) {
                width: 80px;
                height: 80px;
            }
            @media (min-width: 1024px) {
                width: 100px;
                height: 100px;
            }
        }
        .dropdown-menu{
            --bs-dropdown-bg: #f22333 !important;
            border: none !important;
            .dropdown-item{
                --bs-dropdown-link-color: #ffffff !important;
                font-size: 0.8rem;
            }
        }
    }
}