body{
    background-color: map-get($colors, bk);
    .navbar{
        background-color: map-get($colors, primary) !important;
        font-size: 1rem;
        font-family: map-get($font-text, primary) !important;
        position: sticky;
        top: 0px;
        z-index: 2;
        .dropdown-menu{
            --bs-dropdown-bg: #f22333 !important;
            border: none !important;
            .dropdown-item{
                --bs-dropdown-link-color: #ffffff !important;
                font-size: 0.8rem;
            }
        }
    }
}