/* Reseteo */
*{
    margin: 0px;
    padding: 0px;
}

/* GRIDS AREAS */
#grilla {
    display: grid;
    grid-template-areas: 
    "Encabezado Encabezado"
    "Formulario Formulario"
    "PieDePagina PieDePagina";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 22% auto 16%;
}
#Encabezado{
    grid-area: Encabezado;
}
section{
    grid-area: Formulario;
}
#PieDePagina {
    grid-area: PieDePagina;
}

a{
    text-decoration: none;
}

/* Encebezado */
#Encabezado{
    background-color: #f22333;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 80px;
    height: 80px;
}
#menu-principal ul li a{
    text-decoration: none;
    color: #ffffff
}
ul{
    list-style-type: none;
    list-style: none;
    font-size: 0;
}
li{
    display: inline-block;
    position: relative;
    font-size: 10px;
    margin: 0px 10px;
}
ul ul{
    position: absolute;
    display: none;
}
ul ul li{
    display: block;
    background-color: #f22333;
    color: #ffffff
}
ul li:hover ul{
    display: block;
}
li ul li{
    padding: 0px 15px;
    display: inline-block;
}

/* Formulario */
#Formulario{
    width: 100%;
    background-color: #DDE3E3;
    display: flex;
    justify-content: center;
}
form{
    background-color: #ffffff;
    margin: 20px;
}
fieldset{
    padding: 20px;
}

/* Pie de página */
#PieDePagina{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    color: white;
    font-size: 8px;
}
footer div ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 8px;
}
footer div{
    padding: 10px;
}

/* Medidas de Tablet */
@media (min-width: 768px) {
    #grilla {
        display: grid;
        grid-template-areas: 
        "Encabezado Encabezado"
        "QuienesSomos QuienesSomos"
        "PieDePagina PieDePagina";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20% auto 16%;
    }
    #Encabezado{
        grid-area: Encabezado;
    }
    section{
        grid-area: QuienesSomos;
    }
    #PieDePagina {
        grid-area: PieDePagina;
    }
    /* Encabezado Tablet */
    #Encabezado{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
    li{
        display: inline-block;
        position: relative;
        font-size: 18px;
        margin: 0px 10px;
    }

    /* Formulario */
    #Formulario{
    width: 100%;
    background-color: #DDE3E3;
    display: flex;
    justify-content: center;
    }
    form{
    background-color: #ffffff;
    margin: 20px;
    width: 70%;}
    fieldset{
    padding: 20px;}

    /* Footer Tablet */
    #PieDePagina{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: black;
        width: 100%;
        color: white;
        font-size: 10px;
    }
    footer div ul li a{
        text-decoration: none;
        color: #ffffff;
        font-size: 10px;
    }
}

/* Medidas Desktop */
@media (min-width: 1024px) {
    #grilla {
        display: grid;
        grid-template-areas: 
        "Encabezado Encabezado"
        "Productos Productos"
        "PieDePagina PieDePagina";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20% auto 16%;
    }
    #Encabezado{
        grid-area: Encabezado;
    }
    section{
        grid-area: Productos;
    }
    #PieDePagina {
        grid-area: PieDePagina;
    }
    /* Encabezado Desktop */
    #Encabezado{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .logo{
        width: 150px;
        height: 150px;
    }
    li{
        display: inline-block;
        position: relative;
        font-size: 22px;
        margin: 0px 10px;
    }

    /* Formulario */
    #Formulario{
    background-color: #DDE3E3;
    display: flex;
    justify-content: center;}
    
    form{
    background-color: #ffffff;
    margin: 20px;
    width: auto;}
    
    fieldset{
    padding: 20px;}
    
    /* Footer Desktop */
    #PieDePagina{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: black;
        width: 100%;
        color: white;
        font-size: 12px;
    }
    footer div ul li a{
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
    }
}