.logo{
    width: 40px;
    height: 40px;
    @media (min-width: 768px) {
        width: 50px;
        height: 80px;
    }
    @media (min-width: 1024px) {
        width: 60px;
        height: 60px;
    }
}
.products img{
    width: 150px;
    height: 150px;
    transition: all 1s ease;
    &:hover{
        transform: scale(1.4);
        transition: all 1s ease;
    }
    @media (min-width: 768px) {
        width: 200px;
        height: 200px;
    }
    @media (min-width: 1024px) {
        width: 250px;
        height: 250px;
    }
}
.products a img{
    width: 150px;
    height: 150px;
    @media (min-width: 768px) {
            width: 200px;
            height: 200px;
    }
    @media (min-width: 1024px) {
            width: 250px;
            height: 250px;
    }
}